# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Ollama (local)
OLLAMA_HOST=http://localhost:11434
LLM_MODEL=qwen3:8b

# Cloud API Keys (for testing external provider locally)
GEMINI_API_KEY=

# Embedding
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5

# Test API:
TEST_API_URL=http://localhost:8000

# Security
API_KEY=
