### Helpful commands:
## Run app locally
# uv run uvicorn backend.app.main:app --reload
## Run pytests
# uv run pytest backend/tests/test_rag/test_rag_evaluation.py -v -s
# uv run pytest -v
## 1. Tear down container and attached database, 2. Build image and start
# docker compose down -v
# docker compose up --build -d
## Truncate tables
# docker exec -it postgres-pgvector psql -U postgres -d ragdb -c "TRUNCATE TABLE data_enterprise_documents;"
# docker exec -it postgres-pgvector psql -U postgres -d ragdb -c "TRUNCATE TABLE documents;"

## source .venv/scripts/activate

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ragdb

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Ollama (local)
OLLAMA_HOST=http://localhost:11434
LLM_MODEL=qwen3:8b

# Cloud API Keys (for testing external provider locally)
LLM_API_KEY=

# Embedding
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5

# Test API:
TEST_API_URL=http://localhost:8000

# Security
API_KEY=