# Default pattern to handle all text files and normalize them to LF
* text=auto eol=lf

# Repository & Git Configuration
.git* text eol=lf

# Infrastructure & Configuration
Dockerfile text eol=lf
Makefile text eol=lf
.env* text eol=lf
*.example text eol=lf
*.toml text eol=lf
*.hcl text eol=lf
*.version text eol=lf
*.sh text eol=lf

# Terraform Infrastructure
*.tf text eol=lf
*.tfvars text eol=lf

# Python & Workflow Configuration
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Documentation, Diagrams, & Assets
*.md text eol=lf
*.drawio text eol=lf
*.svg text eol=lf
*.xml text eol=lf